################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/SnapChatEngineeringProject/FileContentIndex/dc942f1e-81ef-476a-921b-6508c504cf2a.vsidx
